---
import { comment } from '@/consts';
import GiscusComment from './GiscusComment.astro';
import WalineComment from './WalineComment.astro';
import DisqusComment from './DisqusComment.astro';
---

<div class="comment-section-wrapper">
  {comment.enable && comment.type === 'waline' && <WalineComment />}
  {comment.enable && comment.type === 'giscus' && <GiscusComment />}
  {comment.enable && comment.type === 'disqus' && <DisqusComment />}
</div>
