---
import FeedPostDate from './FeedPostDate.astro';
const { data, body, slug } = Astro.props.post;
const { index } = Astro.props;
import { t } from '@/i18n/utils';
import getUrl from '@/utils/getUrl';
---

<div class="mt-2 mb-3 p-3 rounded-lg">
  <p
    class="break-all first-letter tracking-wide first-letter:font-semibold first-letter:text-2xl line-clamp-2 mb-2 cursor-pointer hover:text-skin-active transition-all duration-300 hover:translate-x-1"
  >
    {body.replace(/^#+/gm, '').replace(/!?\[.*?\]\(.*?\)/g, '')}
  </p>
  <p class="flex items-center justify-between text-sm">
    <FeedPostDate date={data.date} index={index} />
    <a
      class="hover:text-skin-active text-sm border rounded py-1 px-3 transition-all duration-300 hover:shadow-sm hover:-translate-y-0.5 hover:border-skin-active"
      href={getUrl('/feed/') + slug}
    >
      {t('home.readMore')}
    </a>
  </p>
</div>
