---
import {site} from "@/consts";
import {t} from '@/i18n/utils'
import getUrl from "@/utils/getUrl";
---

<div class="h-10 p-1 w-full">
  <div class="flex items-center flex-col flex-wrap justify-center mb-4 text-skin-base first:mb-0 sm:flex-row">
    <div>
      <span class="cursor-default">Copyright</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">{new Date().getFullYear()}</span>
    </div>
    {
      site.beian && (
        <span class="mx-2 hidden sm:inline">|</span>
        <a rel="nofollow" target="_blank" href="https://beian.miit.gov.cn/">
          {site.beian}
        </a>
      )
    }
    <span class="mx-2">|</span>
    <a href={getUrl("/sitemap-0.xml")}>{t('footer.sitemap')}</a>
    <span class="mx-2">|</span>
    <a class="hover:text-skin-active hover:underline transition-colors" href="https://github.com/cirry/astro-yi" target="_blank">Made with Astro Theme Yi</a>
  </div>
</div>