<button
  type="button"
  id="menu-toggle-btn"
  class="header-btn menu-icon-container"
  title="Menu"
>
  <i class="ri-menu-fill menu-icon-btn" id="menu-icon"></i>
  <i class="ri-close-fill menu-icon-btn" id="menu-icon-close"></i>
</button>
